In [14]:
import pandas as pd
import numpy as np
import sklearn as sk
import scipy as scp
import xgboost as xgb

In [15]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [16]:
train.head()

,ACTION,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,39353,85475,117961,118300,123472,117905,117906,290919,117908
1,1,17183,1540,117961,118343,123125,118536,118536,308574,118539
2,1,36724,14457,118219,118220,117884,117879,267952,19721,117880
3,1,36135,5396,117961,118343,119993,118321,240983,290919,118322
4,1,42680,5905,117929,117930,119569,119323,123932,19793,119325

In [17]:
test.head()

,id,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,78766,72734,118079,118080,117878,117879,118177,19721,117880
1,2,40644,4378,117961,118327,118507,118863,122008,118398,118865
2,3,75443,2395,117961,118300,119488,118172,301534,249618,118175
3,4,43219,19986,117961,118225,118403,120773,136187,118960,120774
4,5,42093,50015,117961,118343,119598,118422,300136,118424,118425

In [18]:
train['ACTION']

0        1
1        1
2        1
3        1
4        1
5        0
6        1
7        1
8        1
9        1
10       1
11       1
12       1
13       1
14       1
15       1
16       1
17       1
18       1
19       1
20       1
21       1
22       1
23       1
24       1
25       1
26       1
27       1
28       1
29       1
        ..
32739    1
32740    1
32741    1
32742    1
32743    1
32744    1
32745    1
32746    1
32747    1
32748    1
32749    1
32750    1
32751    1
32752    1
32753    1
32754    1
32755    1
32756    1
32757    1
32758    1
32759    1
32760    1
32761    1
32762    1
32763    1
32764    1
32765    1
32766    1
32767    1
32768    1
Name: ACTION, dtype: int64

In [19]:
from sklearn.linear_model import LogisticRegressionCV

In [29]:
Cs = [0.0005, 0.001, 0.01, 0.1, 1, 5, 10, 20, 50]
lg = LogisticRegressionCV(Cs=Cs)

In [35]:
tr_data = train.values
y = tr_data[:, 0]
x = tr_data[:, 1:]
print tr_data.shape
print y.shape
print x.shape
lg.fit(x, y)

(32769, 10)
(32769,)
(32769, 9)

LogisticRegressionCV(Cs=[0.0005, 0.001, 0.01, 0.1, 1, 5, 10, 20, 50],
           class_weight=None, cv=None, dual=False, fit_intercept=True,
           intercept_scaling=1.0, max_iter=100, multi_class='ovr',
           n_jobs=1, penalty='l2', random_state=None, refit=True,
           scoring=None, solver='lbfgs', tol=0.0001, verbose=0)

In [39]:
te_data = test.values[:, 1:]
print te_data.shape
lgbase_pred = lg.predict(te_data)
id = test.values[:, 0]

(58921, 9)

In [38]:
lgbase_pred.shape

(58921,)

In [40]:
id.shape

(58921,)

In [44]:
lgbase_sub = {'id':id, 'ACTION': lgbase_pred}
lgbase_sub = pd.DataFrame(lgbase_sub)

In [45]:
lgbase_sub.to_csv('lgbase_pred')